.gitconfig
bundle/
.netrwhist

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.scannerwork/
.nvimlog
*.un~
*.swo
*.swp
*.pyc
tmp/
undo/
sessions/
*/plugged/*
*/pack/*
.oh-my-zsh/*
