[alias]
	abbrev = !sh -c 'git rev-parse --short ${1-`echo HEAD`}' -
	amend = commit --amend -v
	both = diff --ignore-submodules=dirty HEAD
	br = branch
	ci = commit -v
	co = checkout
	count = !git --no-pager log --oneline | wc -l
	cp = cherry-pick
	ff = merge --ff-only
	fixup = !sh -c 'git commit --fixup=$1 ${@:2}' -
	fresh = remote update --prune
	full = show --format=fuller
	get = "!f() { git fresh && git ff \"$@\"; }; f"
	gr = !git --paginate log --graph --all --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	graph = !git --paginate log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	message = !git --paginate log -1 --pretty=format:%B
	msg = message
	no-edit = commit --amend --no-edit
	one = !git --paginate log --pretty=format:'%C(auto)%h%Creset %s%C(auto)%d%Creset %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	oneline = !git --paginate log --pretty=format:'%C(auto)%h%Creset %s%C(auto)%d%Creset %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	deploy = !git --paginate log --pretty=format:'%s%C(auto) %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	p = add -p
	patch = add -p
	reword = commit --amend --only -v --
	rollback = !sh -c 'git reset --merge HEAD~${1-1}' -
	sl = !git --paginate log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset' --all --simplify-by-decoration
	st = status -s
	staged = diff --cached --ignore-submodules=dirty
	ten = !git --paginate log -10 --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	wc = whatchanged

[branch]
	autosetupmerge = always
	autosetuprebase = local

[color]
	ui = auto

[color "interactive"]
	prompt = blue reverse

[color "status"]
	untracked = blue

[core]
	attributesfile = ~/.gitattributes
	excludesFile = ~/.gitignore
	pager = less -S

[diff]
	algorithm = histogram
	compactionHeuristic = true

[difftool]
	prompt = false

[grep]
	lineNumber = true
	patternType = perl

[help]
	autocorrect = 2

[log]
	decorate = short

[merge]
	conflictStyle = diff3
	log = 1000

[protocol]
	version = 2

[push]
	default = current

[rebase]
	autosquash = true

[rerere]
	enabled = true

[status]
	submodulesummary = true

[submodule]
	fetchJobs = 4

[user]
	email = dfmoncada@gmail.com
	name = Diego Moncada

[include]
	path = .gitconfig.local

[credential]
	helper = store

[pull]
	rebase = true

[advice]
	addIgnoredFile = false
